<h1>KeywordReplies#index</h1>

<script>
  var keyword_replies = <%= raw @keyword_replies.to_json %>
</script>

<div id="keyword_reply_table"></div>
<%= javascript_include_tag "webpack/keyword_reply_table" %>

<%= link_to '新規キーワード追加', new_keyword_reply_path %>
